{% extends 'base.html.twig' %}

{% block body %}

    <h3>P3 - b)</h3>

    {% if title == 'rojo' %}
        <div style="color: red;">Soy un div rojo</div>
    {% else %}
        <div style="color: blue;">Si no soy rojo, soy un div azul</div>
    {% endif %}
    
{% endblock %}